.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.3);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.link {
    color: var(--title-color);
    text-decoration: none;
    padding: 30px 0 23px;
    border-bottom: 2px solid transparent;
}

.link:hover {
    color: var(--primary-color);
}

.link.active {
    font-weight: bold;
    border-bottom: 2px solid var(--primary-color);
}

.link.active:hover {
    color: var(--title-color);
    cursor: initial;
}

.login-icon {
    margin-right: 10px;
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo {
    margin-bottom: -9px;
}
