.button {
    border-radius: 6px;
    font-family: inherit;
    cursor: pointer;
    transition: background 0.25s;
    border: 1px solid var(--primary-color);
    color: var(--white-color);
    font-weight: bold;
    font-size: 16px;
}

.small {
    padding: 7px 25px;
}

.big {
    text-transform: uppercase;
    padding: 10px 27px;
}

.accent {
    background: var(--primary-color);
}

.accent:hover {
    background: var(--primary-hover-color);
}

.big-white {
    text-transform: uppercase;
    padding: 10px 27px;
    background: var(--white-color);
    color: var(--primary-color);
}

.big-white:hover {
    color: var(--white-color);
}
