.input {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: var(--text-color);
  border: 1px solid var(--placeholder-border);
  background: #fff;
  background-repeat: 5px;
  padding: 13px 20px;
  border-radius: 5px;
  outline: none;

  &:focus {
    border: 1px solid var(--primary-color);
  }
}

.input::placeholder {
  color: var(--placeholder-color);
}
