@import url('assets/fonts/cerapro/stylesheet.css');

:root {
    --font: 'Cera Pro', sans-serif;
    --primary-color: #46a358;
    --primary-hover-color: #2b913f;
    --white-color: #ffffff;
    --background-color: #fbfbfb;
    --title-color: #3d3d3d;
    --text-color: #727272;
    --placeholder-color: #a5a5a5;
    --placeholder-border: #eaeaea;
}

body {
    font-family: 'Cera Pro', sans-serif;
    max-width: 1200px;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

.app {
    background-color: var(--background-color);
    color: var(--text-color);
}

.dark-theme {
    --primary-color: #46a358;
    --black-color: black;
    --background-color: #dfcbcb;
    --title-color: white;
    --text-color: rgb(238, 160, 13);
    --placeholder-color: rgb(238, 160, 13);
    --placeholder-border: rgb(238, 160, 13);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
